@import "tailwindcss";

@theme {
  --color-error-container: #93000a;
  --color-surface-bright: #373943;
  --color-surface-container-high: #282933;
  --color-tertiary-fixed-dim: #00daf3;
  --color-on-secondary-fixed-variant: #3f446a;
  --color-surface-dim: #11131c;
  --color-surface-tint: #c3c4e1;
  --color-on-secondary-container: #aeb2df;
  --color-on-primary-fixed: #171a2f;
  --color-on-secondary: #292e52;
  --color-inverse-on-surface: #2e303a;
  --color-tertiary-container: #000c0f;
  --color-outline: #919097;
  --color-on-primary-fixed-variant: #43455d;
  --color-surface-container-low: #191b24;
  --color-secondary-fixed-dim: #bfc3f1;
  --color-on-secondary-fixed: #13183c;
  --color-outline-variant: #46464d;
  --color-on-tertiary-fixed-variant: #004f58;
  --color-surface-container-highest: #32343e;
  --color-on-error-container: #ffdad6;
  --color-surface-container: #1d1f29;
  --color-secondary-container: #3f446a;
  --color-primary-fixed: #dfe0fe;
  --color-on-tertiary: #00363d;
  --color-on-surface-variant: #c7c5cd;
  --color-on-error: #690005;
  --color-tertiary-fixed: #9cf0ff;
  --color-secondary-fixed: #dfe0ff;
  --color-primary: #c3c4e1;
  --color-on-tertiary-fixed: #001f24;
  --color-surface-variant: #32343e;
  --color-secondary: #bfc3f1;
  --color-inverse-primary: #5b5d76;
  --color-surface: #11131c;
  --color-primary-container: #06081d;
  --color-on-surface: #e1e1ef;
  --color-inverse-surface: #e1e1ef;
  --color-on-primary: #2c2f45;
  --color-primary-fixed-dim: #c3c4e1;
  --color-background: #11131c;
  --color-tertiary: #00daf3;
  --color-surface-container-lowest: #0c0e17;
  --color-error: #ffb4ab;
  --color-on-background: #e1e1ef;
  --color-on-tertiary-container: #008696;
  --color-on-primary-container: #767792;
}

.btn-satin {
  background: linear-gradient(135deg, #c3c4e1 0%, #767792 100%);
}
/* Black Glass Effect */
.glass-card {
  background: rgba(25, 27, 36, 0.863);
  backdrop-filter: blur(20px);
}
/* Custom Focus Glow */
.input-focus-glow:focus {
  outline: none;
  border-bottom: 2px solid #00daf3;
  box-shadow: 0 4px 12px -2px rgba(0, 218, 243, 0.2);
}

button {
  cursor: pointer;
}
